.button {
  display: inline-block;
  padding: 7px 25px;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  transition: 0.3s opacity;
  font-weight: bold;
  cursor: pointer;
  border: none;

  &_default {
    color: var(--c-grey-dark);
    background: var(--c-grey-lightest);
  }

  &_primary {
    background: var(--c-primary);
  }

  &_secondary {
    background: var(--c-secondary);
  }

  &_transparent {
    background: transparent;
    color: var(--c-grey);
  }

  &_iconOnly {
    padding: 0.5rem;
    line-height: 1;
  }

  &_disabled {
    pointer-events: none;
    background: var(--c-grey-lightest);
    opacity: 0.7;
  }

  &:hover {
    opacity: 0.8;
  }
}
