---
import Layout from "@layouts/Layout.astro";
---

<Layout title="About">
  <div style={{marginBottom: "2rem"}}>
    <h1>O Нас</h1>

    <p>
      Добро пожаловать на наш веб-сайт по поиску подарков! Мы посвятили себя помощи вам найти идеальные подарки для
      ваших близких, независимо от повода.
    </p>

    <p>
      Наша миссия - сделать процесс дарения подарков проще и приятнее. Мы понимаем, что поиск правильного подарка может
      быть сложной задачей, поэтому мы составили коллекцию заботливых и уникальных идей для подарков, чтобы вас
      вдохновить. Будь то день рождения, годовщина, праздник или любое особое событие, наш веб-сайт здесь, чтобы помочь
      вам выбрать подарки, которые принесут улыбки и счастье вашим друзьям и семье.
    </p>

    <p>
      Если у вас есть какие-либо вопросы или предложения, не стесняйтесь <a href="/ru-ua/contacts">связаться с нами</a>.
      Мы ценим ваши отзывы и стремимся непрерывно улучшать наш сервис, чтобы сделать ваш опыт дарения подарков
      исключительным.
    </p>

    <p>
      Чтобы узнать больше о человеке, стоящем за этим проектом, и быть в курсе будущих событий, посетите <a
      href="https://alex.gift-idea.co/" target="_blank">мою персональную страницу</a>.
    </p>
  </div>

  <div style={{marginBottom: "2rem"}}>
    <h2>Поддержите проект</h2>

    <p>
      Наш сайт находится в активной разработке. Если вы хотите принять участие в его развитии, не стесняйтесь связаться
      с нами по адресу электронной почты <a href="email:nepsha1986@gmail.com">nepsha1986@gmail.com</a> или оставьте
      сообщение на странице <a href="/ru-ua/contacts">'Контакты'</a>, и мы обязательно ответим.
    </p>

    <p>Как вы можете помочь:</p>

    <ul>
      <li>
        <p><strong>Написание статей</strong> - мы постоянно работаем над улучшением нашего контента. На данный момент
          большинство статей создано с использованием искусственного интеллекта OpenAI. Если у вас есть желание улучшить
          существующие материалы или написать новую статью, мы будем признательны за ваш вклад! Свяжитесь с нами, и если
          ваши изменения будут опубликованы, ваше имя и ссылка на индивидуальную страницу появятся в списке авторов.</p>
      </li>
      <li>
        <p><strong>Предоставление уникальных фотографий к статьям</strong> - если вы являетесь фотографом и готовы
          предоставить свои работы в качестве иллюстраций к нашим статьям безвозмездно, мы с удовольствием опубликуем их
          с указанием вашего имени или агентства.</p>
      </li>
    </ul>
    <p>Если у вас есть какие-либо другие идеи и пожелания, не стесняйтесь писать нам!</p>
  </div>

  <div style={{marginBottom: "2rem"}}>
    <h2>Благодарность ресурсам</h2>

    <h3>Благодарность команде OpenAI за GPT-3.5.</h3>

    <p>
      Хотя мы развиваем наш ресурс и стремимся создавать уникальный и интересный контент для пользователей, но при
      старте проекта большинство статей было сгенерировано с помощью GPT-3.5. Мы хотим выразить искреннюю благодарность
      за ваш вклад в наш проект. Мы ценим ваш труд и стремление к совершенству в области искусственного интеллекта.
    </p>

    <h3>Pixabay</h3>

    <p>
      Мы выражаем огромную благодарность сообществу Pixabay за их щедрость в предоставлении бесплатных и качественных
      изображений.
    </p>

    <a href="https://pixabay.com/" target="_blank">
      <img
        style={{width: "100%", maxWidth: "600px"}}
        src="https://pixabay.com/static/img/public/leaderboard_b.png"
        alt="Pixabay"
      />
    </a>
  </div>
</Layout>