---
import Layout from '@layouts/Layout.astro';
---

<Layout title="About">
  <h1>O Нас</h1>
  <p>Добро пожаловать на наш веб-сайт по поиску подарков! Мы посвятили себя помощи вам найти идеальные подарки для ваших близких, независимо от повода.</p>

  <p>Наша миссия - сделать процесс дарения подарков проще и приятнее. Мы понимаем, что поиск правильного подарка может быть сложной задачей, поэтому мы составили коллекцию заботливых и уникальных идей для подарков, чтобы вас вдохновить.</p>

  <p>Будь то день рождения, годовщина, праздник или любое особое событие, наш веб-сайт здесь, чтобы помочь вам выбрать подарки, которые принесут улыбки и счастье вашим друзьям и семье. Используйте наши опции поиска и фильтрации, чтобы найти идеальные подарки, соответствующие интересам и предпочтениям вашего получателя.</p>

  <p>Если у вас есть какие-либо вопросы или предложения, не стесняйтесь <a href="/ru/contacts">связаться с нами</a>. Мы ценим ваши отзывы и стремимся непрерывно улучшать наш сервис, чтобы сделать ваш опыт дарения подарков исключительным.</p>
</Layout>