---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Контакты">
  <h1>У вас есть вопроссы или нужна помощь?</h1>

  <p>Не стесняйтесь связаться с нами по электронной почте: <a href="mailto:nepsha1986@gmail.com">nepsha1986@gmail.com</a></p>

  <p>Мы сделаем все возможное, чтобы оперативно ответить на ваши запросы. Ваши отзывы и запросы важны для нас!</p>
</Layout>