---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import { getCleanSlug, getLocaleFromUrl, useTranslatedPath } from "@i18n/utils";
import CategoryLinks from "@astroComponents/CategoryLinks.astro";
import gift from "@public/assets/secretlondon_red_present.svg";

const locale = getLocaleFromUrl(Astro.url.pathname);
const translatePath = useTranslatedPath(locale);

const giftsEntries = await getCollection("gifts");
const first = giftsEntries.find(i => i.data.category === "for-women");
const viewIdeasLink = translatePath(`/gifts/${first.data.category}/${getCleanSlug(first.slug)}`);
---

<Layout title="Найдите идеальные подарки для любого случая">
  <div class="container">
    <div class="intro">
      <h1 class="intro__heading">Идеи подарков 2023</h1>

      <h2 class="intro__subheading">Добро пожаловать на gift-idea.co!</h2>

      <p class="intro__text">Наша миссия - убрать стресс из процесса поиска подарков, предлагая широкий выбор
        <a href={viewIdeasLink}>заботливых и уникальных идей для подарков</a>, подходящих для разных получателей.
      </p>
    </div>

    <div class="img-wrap">
      <img src={gift.src} />
    </div>

    <CategoryLinks />
  </div>
</Layout>

<style lang="scss">
	.intro {
		text-align: center;

		&__heading {
			font-size: 3rem;
		}

		&__subheading {
			font-size: 2.2rem;
		}

		&__text {
			color: var(--c-grey-dark);
			font-size: 1.2rem;
			max-width: 600px;
			margin: 0 auto 30px;

			a {
				color: var(--c-secondary);
			}
		}
	}

	.img-wrap {
		max-width: 46vh;
		width: 100%;
		margin: 0 auto 30px;
	}
</style>