---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Про нас">
  <div style={{marginBottom: "2rem"}}>
    <h1>Про Нас</h1>

    <p>
      Ласкаво просимо на наш веб-сайт з пошуку подарунків! Ми приділяємо себе завданню допомогти вам знайти ідеальні
      подарунки для ваших близьких, незалежно від нагоди.
    </p>

    <p>
      Наша місія - зробити процес дарування подарунків простішим і приємнішим. Ми розуміємо, що пошук правильного
      подарунка може бути складним завданням, тому ми склали колекцію ретельних та унікальних ідей для подарунків, щоб
      вас надихнути. Будь то день народження, річниця, свято або будь-яка особлива подія, наш веб-сайт тут, щоб
      допомогти вам вибрати подарунки, які принесуть посмішки та щастя вашим друзям та родині.
    </p>

    <p>
      Якщо у вас є які-небудь питання або пропозиції, не соромтеся <a href="/uk-ua/contacts">зв'язатися з нами</a>. Ми
      цінуємо ваші відгуки і прагнемо безперервно поліпшувати наш сервіс, щоб зробити ваш дарунковий досвід
      надзвичайним.
    </p>

    <p>
      Щоб дізнатися більше про людину, яка стоїть за цим проєктом, та бути в курсі майбутніх подій, відвідайте <a
      href="https://alex.gift-idea.co/" target="_blank">мою особисту сторінку</a>.
    </p>
  </div>

  <div style={{marginBottom: "2rem"}}>
    <h2>Підтримайте проект</h2>

    <p>
      Наш сайт знаходиться в активній розробці. Якщо ви хочете приєднатися до його розвитку, не соромтеся зв'язатися з
      нами за адресою електронної пошти <a href="email:nepsha1986@gmail.com">nepsha1986@gmail.com</a> або залишити
      повідомлення на сторінці <a href="/ru-ua/contacts">'Контакти'</a>, і ми обов'язково вам відповімо.
    </p>

    <p>
      Як ви можете допомогти:
    </p>

    <ul>
      <li>
        <p><strong>Написання статей</strong> - ми постійно працюємо над вдосконаленням нашого контенту. Наразі більшість
          статей створено з використанням штучного інтелекту OpenAI. Якщо у вас є бажання покращити існуючі матеріали
          або написати нову статтю, ми будемо вдячні за ваш внесок! Зв'яжіться з нами, і якщо ваші зміни будуть
          опубліковані, ваше ім'я та посилання на вашу індивідуальну сторінку з'явиться у списку авторів.</p>
      </li>

      <li>
        <p><strong>Надання унікальних фотографій для статей</strong> - якщо ви є фотографом і готові надати свої роботи
          в якості ілюстрацій до наших статей на безоплатній основі, ми з задоволенням їх опублікуємо з вказівкою на
          ваше ім'я або агентство.</p>
      </li>
    </ul>

    <p>Якщо у вас є ще які-небудь ідеї чи пропозиції, не соромтеся писати нам!</p>
  </div>

  <div>
    <h2>Подяка ресурсам</h2>

    <h3>Подяка команді OpenAI за GPT-3.5.</h3>

    <p>
      Хоча ми розвиваємо наш ресурс і прагнемо створювати унікальний та цікавий контент для користувачів, але при
      старті проекту більшість статей було згенеровано за допомогою GPT-3.5. Ми хочемо висловити щиру подяку за ваш
      внесок у наш проект. Ми цінуємо ваш труд і прагнення до вдосконалення в галузі штучного інтелекту.
    </p>

    <h3>Pixabay</h3>

    <p>
      Ми висловлюємо величезну подяку спільноті Pixabay за їх щедрість у наданні безкоштовних та якісних зображень.
    </p>
    <a href="https://pixabay.com/" target="_blank">
      <img
        style={{width: "100%", maxWidth: "600px"}}
        src="https://pixabay.com/static/img/public/leaderboard_b.png"
        alt="Pixabay"
      />
    </a>
  </div>
</Layout>
