---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Про нас">
  <div style={{ marginBottom: "2rem" }}>
    <h1>Про Нас</h1>
    <p>Ласкаво просимо на наш веб-сайт з пошуку подарунків! Ми приділяємо себе завданню допомогти вам знайти ідеальні
      подарунки для ваших близьких, незалежно від нагоди.</p>

    <p>Наша місія - зробити процес дарування подарунків простішим і приємнішим. Ми розуміємо, що пошук правильного
      подарунка може бути складним завданням, тому ми склали колекцію ретельних та унікальних ідей для подарунків, щоб
      вас надихнути.</p>

    <p>Будь то день народження, річниця, свято або будь-яка особлива подія, наш веб-сайт тут, щоб допомогти вам вибрати
      подарунки, які принесуть посмішки та щастя вашим друзям та родині. Використовуйте наші опції пошуку та фільтрації,
      щоб знайти ідеальні подарунки, які відповідають інтересам та уподобанням отримувача.</p>

    <p>Якщо у вас є які-небудь питання або пропозиції, не соромтеся <a href="/uk-ua/contacts">зв'язатися з нами</a>. Ми
      цінуємо ваші відгуки і прагнемо безперервно поліпшувати наш сервіс, щоб зробити ваш дарунковий досвід
      надзвичайним.</p>
  </div>

  <div>
    <h2>Подяка ресурсам</h2>
    <h3>Подяка команді OpenAI за GPT-3.5.</h3>
    <p>Хоча ми розвиваємо наш ресурс і прагнемо створювати унікальний та цікавий контент для користувачів, але при
      старті проекту більшість статей було згенеровано за допомогою GPT-3.5. Ми хочемо висловити щиру подяку за ваш
      внесок у наш проект. Ми цінуємо ваш труд і прагнення до вдосконалення в галузі штучного інтелекту.</p>
    <h3>Pixabay</h3>
    <p>Ми висловлюємо величезну подяку спільноті Pixabay за їх щедрість у наданні безкоштовних та якісних
      зображень. </p>
    <a href="https://pixabay.com/" target="_blank">
      <img style={{ width: "100%", maxWidth: "600px" }} src="https://pixabay.com/static/img/public/leaderboard_b.png"
           alt="Pixabay">
    </a>
  </div>
</Layout>
