---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Про нас">
  <h1>Про Нас</h1>
  <p>Ласкаво просимо на наш веб-сайт з пошуку подарунків! Ми приділяємо себе завданню допомогти вам знайти ідеальні подарунки для ваших близьких, незалежно від нагоди.</p>

  <p>Наша місія - зробити процес дарування подарунків простішим і приємнішим. Ми розуміємо, що пошук правильного подарунка може бути складним завданням, тому ми склали колекцію ретельних та унікальних ідей для подарунків, щоб вас надихнути.</p>

  <p>Будь то день народження, річниця, свято або будь-яка особлива подія, наш веб-сайт тут, щоб допомогти вам вибрати подарунки, які принесуть посмішки та щастя вашим друзям та родині. Використовуйте наші опції пошуку та фільтрації, щоб знайти ідеальні подарунки, які відповідають інтересам та уподобанням отримувача.</p>

  <p>Якщо у вас є які-небудь питання або пропозиції, не соромтеся <a href="/uk-ua/contacts">зв'язатися з нами</a>. Ми цінуємо ваші відгуки і прагнемо безперервно поліпшувати наш сервіс, щоб зробити ваш дарунковий досвід надзвичайним.</p>
</Layout>
