---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Контакти">
  <h1>У вас є питання або потрібна допомога?</h1>

  <p>Не соромтеся зв'язатися з нами за електронною поштою: <a href="mailto:nepsha1986@gmail.com">nepsha1986@gmail.com</a></p>

  <p>Ми зробимо все можливе, щоб оперативно відповісти на ваші запити. Ваші відгуки і запити важливі для нас!</p>
</Layout>
