.advertisement {
  padding: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 0.875rem;
  color: var(--c-grey);
  background: var(--c-grey-lightest);
  border: 1px dashed var(--c-grey-light);
  border-radius: var(--radius-md);
}
