---
import { getCollection } from "astro:content";
import { useTranslatedPath, getLocaleFromUrl, getLangFromUrl, getLocaleFromSlug, useTranslations } from "@i18n/utils";
import FeaturedIdeas from "@src/components/react/FeaturedIdeas";
import translations from "./translations";
import LinkButton from "@astroComponents/LinkButton.astro";

const URL = Astro.url.pathname;

const locale = getLocaleFromUrl(URL);
const lang = getLangFromUrl(URL);
const translatePath = useTranslatedPath(locale);

const giftsEntries = await getCollection("gifts");
const featured = giftsEntries.filter(i => getLocaleFromSlug(i.slug) === locale).filter(i => !!i.data?.featured);

const t = useTranslations(lang, translations);
---

<section class='featured'>
  <div class="featured__container">
    <header class="featured__header">
      <h1 class="featured__heading">{t("section.heading")}</h1>

      <p class='featured__subheading'><Fragment set:html={t("section.subheading")} /></p>
    </header>

    <div class="featured__ideas">
      <FeaturedIdeas  client:load lang={lang} locale={locale} featured={featured.map(i => ({
        description: i.data.description,
        link: i.slug,
        slug: i.slug,
        title: i.data.title,
        category: i.data.category,
        imgSrc: i.data.thumbnail.src
      }))} />
    </div>

    <div class="featured__btn">
      <LinkButton text={t("section.btn_text")} color="primary" link={translatePath('/gifts/for-women/adventure-experience-for-women')} />
    </div>
  </div>
</section>

<style is:global>
    .featured__subheading strong {
        color: var(--c-primary);
    }
</style>

<style lang="scss">
	.featured {
		&__container {
			max-width: 1300px;
			height: 100%;
			padding: 5rem 15px;
			margin: 0 auto;
		}

		&__header {
			text-align: center;
			max-width: 800px;
			margin: 0 auto 2rem;
		}

		&__heading {
			font-size: clamp(1.6rem, 4vw, 3.2rem);
		}

		&__subheading {
			font-size: 1.05rem;
			color: var(--c-grey);
		}

		&__btn {
			display: flex;
			justify-content: center;
			margin-top: 3rem;
		}
	}
</style>
