---
import { getCollection } from "astro:content";
import { useTranslatedPath, getLocaleFromUrl, getLangFromUrl, getLocaleFromSlug, useTranslations } from "@i18n/utils";
import FeaturedIdeas from "@src/components/react/FeaturedIdeas";
import Section from '../Section/Section.astro';
import translations from "./translations";
import LinkButton from "@astroComponents/LinkButton.astro";

const URL = Astro.url.pathname;

const locale = getLocaleFromUrl(URL);
const lang = getLangFromUrl(URL);
const translatePath = useTranslatedPath(locale);

const giftsEntries = await getCollection("gifts");
const featured = giftsEntries.filter(i => getLocaleFromSlug(i.slug) === locale).filter(i => !!i.data?.featured);

const t = useTranslations(lang, translations);
---

<Section heading={t("section.heading")}>
  <p slot="subheading" set:html={t("section.subheading")} class="subheading" />

  <FeaturedIdeas  client:load lang={lang} locale={locale} featured={featured.map(i => ({
    description: i.data.description,
    link: i.slug,
    slug: i.slug,
    title: i.data.title,
    category: i.data.category,
    imgSrc: i.data.thumbnail.src
  }))} />

  <div class="btn-container">
    <LinkButton text={t("section.btn_text")} color="primary" link={translatePath('/gifts/for-women/adventure-experience-for-women')} />
  </div>
</Section>

<style is:global>
    .subheading {
        strong {
            color: var(--c-primary);
        }
    }
</style>

<style lang="scss">
	.btn-container {
	  display: flex;
	  justify-content: center;
	  margin-top: 3rem;
	}
</style>
