---
import Layout from "@layouts/Layout.astro";
---

<Layout title="About">
  <div style={{ marginBottom: "2rem" }}>
    <h1>About us</h1>
    <p>Welcome to our gift-finding website! We are dedicated to helping you find the perfect gifts for your loved ones,
      no matter the occasion.</p>

    <p>Our mission is to make the gift-giving process easier and more enjoyable. We understand that finding the right
      gift can be a challenge, so we've curated a collection of thoughtful and unique gift ideas to inspire you.</p>

    <p>Whether it's a birthday, anniversary, holiday, or any special moment, our website is here to assist you in
      selecting gifts that will bring smiles and happiness to your friends and family. Use our search and filtering
      options to discover the ideal presents that match your recipient's interests and preferences.</p>

    <p>If you have any questions or suggestions, please don't hesitate to <a href="/en-us/contacts">contact us</a>. We
      value your feedback and are committed to continually improving our service to make your gift-giving experience
      exceptional.</p>
  </div>

  <div style={{ marginBottom: "2rem" }}>
    <h2>Support the Project</h2>
    <p>Our website is in active development. If you'd like to contribute to its growth, feel free to contact us at <a href="email:nepsha1986@gmail.com">nepsha1986@gmail.com</a> or leave a message on the <a href="/ru-ua/contacts">'Contacts'</a> page, and we will get back to you promptly.</p>
    <p>How you can help:</p>
    <ul>
      <li>
        <p><strong>Article Writing</strong> - we are constantly working to improve our content. Currently, the majority of articles are created using OpenAI artificial intelligence. If you have a desire to enhance existing materials or write a new article, we would appreciate your contribution! Reach out to us, and if your changes are published, your name and a link to your individual page will appear in the list of authors.</p>
      </li>
      <li>
        <p><strong>Providing Unique Photos for Articles</strong> - if you are a photographer and are willing to provide your work as illustrations for our articles on a voluntary basis, we will gladly publish them with credit to your name or agency.</p>
      </li>
    </ul>
    <p>If you have any other ideas or suggestions, don't hesitate to write to us!</p>
  </div>

  <div>
    <h2>Acknowledgment to resources</h2>
    <h3>Thanks to the OpenAI team for GPT-3.5.</h3>
    <p>While we are developing our resource and aiming to create unique and engaging content for users, at the start of
      the project, most articles were generated using GPT-3.5. We want to express sincere gratitude for your
      contribution to our project. We appreciate your hard work and commitment to excellence in the field of artificial
      intelligence. </p>
    <h3>Pixabay</h3>
    <p>We express immense gratitude to the Pixabay community for their generosity in providing free and high-quality
      images. </p>
    <a href="https://pixabay.com/" target="_blank">
      <img style={{ width: "100%", maxWidth: "600px" }} src="https://pixabay.com/static/img/public/leaderboard_b.png"
           alt="Pixabay">
    </a>
  </div>
</Layout>