---
import classNames from "classnames";
interface Props {
  link: string;
  text: string;
  color?: "primary" | "secondary";
}

const { link, text, color = "primary" } = Astro.props;

const className = classNames("linkButton", {
  [`linkButton_${color}`]: true
});
---

<a class={className} href={link}>{text}</a>

<style lang="scss">
	.linkButton {
		display: inline-block;
		padding: 7px 25px;
		font-size: 0.85rem;
		text-transform: uppercase;
		color: #fff;
		border-radius: 3px;
		transition: 0.3s opacity;
		font-weight: 400;
      letter-spacing: 0.055em;

		&_primary {
			background: var(--c-primary);
		}

		&_secondary {
			background: var(--c-secondary);
		}

		&:hover {
			opacity: 0.8;
		}
	}
</style>
