---
import FacebookShareBtn from './components/FacebookShareBtn.astro';
import TwitterShareBtn from './components/TwitterShareBtn.astro';
import TelegramShareBtn from './components/TelegramShareBtn.astro';
---

<div class="shareBlock">
  <h6>Share with:</h6>
  <FacebookShareBtn />
  <TwitterShareBtn />
  <TelegramShareBtn />
</div>
