@import "variables";
@import "utils";

body {
  min-height: 100vh;
}

a,
a:hover {
  color: var(--c-primary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  color: var(--c-grey-darkest);
}

p {
  color: var(--c-grey-darkest);
}

html,
body {
  font-family: var(--font-primary);
}
