@import "variables";
@import "utils";

body {
  min-height: 100vh;
}

a,
a:hover {
  color: var(--c-primary);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  color: var(--c-grey-darkest);
}

p {
  color: var(--c-grey-darkest);
}

html {
  font-family: var(--font-primary);
}

mark {
  background: none;
  position: relative;
  display: inline-block;
  color: var(--c-text);

  &:before {
    transform: rotateY(10deg);
    position: absolute;
    bottom: 0.2em;
    z-index: -1;
    display: inline-block;
    content: "";
    width: calc(100% + 15px);
    height: 0.25em;
    left: -7px;
    background: var(--c-secondary-light);
  }
}
