:root {
  --c-primary-lightest: #baf3ff;
  --c-primary-light: #72d4e5;
  --c-primary: #1b9bb2;
  --c-primary-dark: #086f81;
  --c-primary-darkest: #014b59;

  --c-secondary-lightest: #fdc5ba;
  --c-secondary-light: #e58271;
  --c-secondary: #b2321b;
  --c-secondary-dark: #7e1c0a;
  --c-secondary-darkest: #520d01;

  --c-danger: #b21c1c;

  --c-grey-lightest: #f1f1f1;
  --c-grey-light: #a2a2a2;
  --c-grey: #6b6b6b;
  --c-grey-dark: #424242;
  --c-grey-darkest: #262626;

  --font-primary: "Lato", sans-serif;
  --font-secondary: "Fira Sans", sans-serif;
}
