---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { getLangFromSlug, getCleanSlug, useTranslatedPath, getLangFromUrl } from "@i18n/utils";
import gift from "../../../public/assets/secretlondon_red_present.svg";
import CategoryLinks from "@astroComponents/CategoryLinks.astro";

const lang = getLangFromUrl(Astro.url.pathname);
const translatePath = useTranslatedPath(lang);

const giftsEntries = await getCollection("gifts");
const engPosts = giftsEntries.filter(i => getLangFromSlug(i.slug) === "en");
const first = engPosts.find(i => i.data.category === "for-women");
const viewIdeasLink = translatePath(`/gifts/${first.data.category}/${getCleanSlug(first.slug)}`);
---

<Layout title="Find the Perfect Presents for Every Occasion">
  <div class="container">
    <div class="intro">
      <div>
        <h1 class="intro__heading">Gift Ideas 2023</h1>

        <h2 class="intro__subheading">Welcome to gift-idea.co!</h2>

        <p class="intro__text">Our mission is to take the stress out of gift shopping by offering a wide range of
          <a href={viewIdeasLink}>thoughtful and unique gift ideas</a> tailored to various recipients.</p>
      </div>
    </div>

    <div class="img-wrap">
      <img src={gift.src} />
    </div>

    <CategoryLinks />
  </div>
</Layout>

<style lang="scss">
	.intro {
		text-align: center;

		&__heading {
			font-size: 3rem;
		}

		&__subheading {
			font-size: 2.2rem;
		}

		&__text {
			color: var(--c-grey-dark);
			font-size: 1.2rem;
			max-width: 600px;
			margin: 0 auto 30px;

			a {
				color: var(--c-secondary);
			}
		}
	}

	.img-wrap {
		max-width: 46vh;
		width: 100%;
		margin: 0 auto 30px;
	}
</style>