.dashboard {
  &__header {
    background: var(--c-grey-darkest);
  }

  &__logo {
    max-width: 180px;
  }

  &__flexContainer {
    display: flex;
  }

  &__nav {
    width: 320px;
    padding: 2rem 0.5rem;
  }

  &__sidebar {
    min-height: calc(100% - 67px);
    border-right: 1px solid var(--c-grey-lightest);
  }

  &__main {
    padding: 2rem 1rem;
  }
}
