.dashboard {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--c-grey-darkest);
  }

  &__logo {
    display: block;
    width: 100%;
    max-width: 180px;
  }

  &__flexContainer {
    display: flex;
  }

  &__nav {
    width: 280px;
    padding: 2rem 1rem;
  }

  &__sidebar {
    min-height: calc(100vh - 67px);
    border-right: 1px solid var(--c-grey-lightest);
  }

  &__main {
    padding: 2rem 1rem;
    flex-grow: 1;
  }

  &__mainContainer {
    max-width: 1300px;
    margin: 0 auto;
  }
}
