.dialog {
  $this: &;

  border: none;
  border-radius: 3px;
  padding: 0;
  width: 100%;
  animation: fadeScaleIn 0.3s ease;

  &__closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &__header {
    min-height: 40px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--c-grey-lightest);
  }

  &__footer {
    padding: 0.5rem 1rem;
  }

  &__main {
    padding: 1rem;
    min-height: clamp(250px, 20vw, 380px);
  }

  &_small {
    max-width: 600px;
  }

  &_medium {
    max-width: 950px;
  }

  &_large {
    max-width: 1300px;
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0.45);
    animation: fadeIn 0.3s ease;
  }

  &_dissapear {
    animation: fadeScaleOut 0.3s ease;

    &#{$this}::backdrop {
      animation: fadeOut 0.3s ease;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeScaleIn {
  from {
    opacity: 0.3;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes fadeScaleOut {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0.9;
  }
}
