---
import { getLangFromSlug } from "../i18n/utils";
import { getCollection } from "astro:content";

import { IdeaPage } from "../features/AdminPanel/types/IdeaPage";
import AdminPanel from "../features/AdminPanel";

const giftsEntries = await getCollection("gifts");
const engPosts = giftsEntries.filter(i => getLangFromSlug(i.slug) === "en");

const pages: IdeaPage[] = engPosts.filter(i => !!i.data.refId).map(i => ({
  title: i.data.title,
  refId: i.data.refId
}));

import "../styles/global.scss";
---

<!doctype html>
<html lang='en'>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lobster&display=swap"
      rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-reboot@4.5.6/reboot.min.css" rel="stylesheet">
</head>
<body>
  <div style={{padding: '1rem'}}>

    <AdminPanel pages={pages} client:load />
  </div>
</body>
</html>