---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contacts">
  <h2>Have a question or need assistance?</h2>

  <p>Feel free to reach out to us via email <a href="mailto:nepsha1986@gmail.com">nepsha1986@gmail.com</a></p>

  <p>We'll do our best to respond to your inquiries promptly. Your feedback and inquiries are important to us!</p>
</Layout>