.relatedProduct {
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--c-grey-lightest);
  padding: 5px 7px;
  display: block;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  transition: 0.3s;

  &__title {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }

  &__description {
    color: var(--c-grey);
    font-size: 0.9rem;
    line-height: 1.25;
  }

  &:hover {
    box-shadow: 0 13px 21px -5px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
  }
}
