.langSwitcherItem {
  $self: &;

  padding: 3px 0;
  font-size: 0.85rem;
  border-radius: 3px;
  display: block;

  &__icon {
    margin-right: 10px;
    font-size: 1rem;
    display: inline-block;
  }

  &__label {
    color: var(--c-grey-darkest);
  }

  &:not(#{$self}_active) {
    background: #fff;
    padding: 3px 7px;
    width: 175px;
  }

  &:not(#{$self}_active):hover {
    background: var(--c-grey-lightest);
  }
}

.langSwitcher {
  $this: &;

  position: relative;
  z-index: 2;

  &:hover {
    #{$this}__list {
      height: auto;
      opacity: 1;
    }
  }

  &__list {
    list-style: none;
    padding: 10px 0 0;
    margin: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: 0.3s opacity;
  }

  &__item {
    margin-bottom: 0;
  }

  &_dropdownBottom {
    #{$this}__list {
      top: 100%;
    }
  }

  &_dropdownTop {
    #{$this}__list {
      bottom: 100%;
    }
  }
}
