---
import Layout from '@layouts//Layout.astro';
---

<Layout title="About">
  <h1>O Нас</h1>
  <p>Welcome to our gift-finding website! We are dedicated to helping you find the perfect gifts for your loved ones, no matter the occasion.</p>

  <p>Our mission is to make the gift-giving process easier and more enjoyable. We understand that finding the right gift can be a challenge, so we've curated a collection of thoughtful and unique gift ideas to inspire you.</p>

  <p>Whether it's a birthday, anniversary, holiday, or any special moment, our website is here to assist you in selecting gifts that will bring smiles and happiness to your friends and family. Use our search and filtering options to discover the ideal presents that match your recipient's interests and preferences.</p>

  <p>If you have any questions or suggestions, please don't hesitate to <a href="/contacts">contact us</a>. We value your feedback and are committed to continually improving our service to make your gift-giving experience exceptional.</p>
</Layout>