---
import Layout from '@layouts/Layout.astro';
---

<Layout title="Контакты">
  <h1>У вас есть вопроссы или нужна помощь?</h1>

  <p>Feel free to reach out to us via email <a href="mailto:nepsha1986@gmail.com">nepsha1986@gmail.com</a></p>

  <p>We'll do our best to respond to your inquiries promptly. Your feedback and inquiries are important to us!</p>
</Layout>