.categoryFilter {
  margin-bottom: 0.5rem;
  max-height: 150px;
  display: flex;
  flex-flow: row wrap;

  &__link {
    text-align: center;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 2px;
    margin-right: 5px;
    font-size: 0.85rem;
    padding: 0.2rem 10px;
    margin-bottom: 5px;
  }
}
