---
interface Props {
	thumbnail: string;
	title: string;
	content: any;
}

const { thumbnail, title, content } = Astro.props;
---

<article class="article">
	<header class="article__header">
		<div class="article__imgWrap">
			<slot name="thumbnail" class="article__img"/>
		</div>

		<div>
			<h1 class="article__title">{title}</h1>
		</div>
	</header>

	<slot name="content"/>
</article>

<style>
	.article {
		max-width: 800px;
		margin: 0 auto;
	}

	.article__date {
		color: #8f8f8f;
		font-size: 1.1rem;
		font-style: italic;
	}

	.article__title {
		font-size: 1.75rem;
	}

	.article__imgWrap {
		border-radius: 4px;
		overflow: hidden;
		margin-bottom: 1rem;
		max-height: 40vh;
		width: 100%;
	}

	.article__header {
		margin-bottom: 2rem;
	}
</style>
