---
import { getCollection } from "astro:content";
import GiftCard from "@components/GiftCard";

const gifts = await getCollection("gifts");
---

<div>
  {!!gifts.length &&
    gifts.map((i) => (
      <GiftCard title={i.data.title} thumbnail={i.data.thumbnail} description={i.data.description} />
    ))}
</div>