.featuredIdeas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 380px), 1fr));
  gap: 12px;
  max-width: 1000px;
  margin: 0 auto;

  &__item {
    display: flex;

    > a {
      width: 100%;
      margin-bottom: 0;
    }
  }
}
