.navigation {
  padding: 7px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  gap: 2.2rem;

  &__item {
    color: var(--c-grey-dark);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--font-secondary);
    transition: 0.3s;

    &:hover {
      color: var(--c-primary-dark);
    }
  }

  &__item_active {
    color: var(--c-primary-dark);
  }
}
