---
import LangSwitcher from "@reactComponents/LangSwitcher";
import { removeTrailingSlash } from "@utils/removeTrailingSlash";

const URL = Astro.url.pathname;
const pathname = removeTrailingSlash(URL);
---

<footer class="footer">
  <div class="footer__container">
    <span>&copy; 2024, GiftIdea. All Rights Reserved.</span>

    <LangSwitcher pathname={pathname} direction="top" />
  </div>
</footer>

<style lang="scss">
	.footer {
		&__container {
			font-size: 0.9rem;
			font-weight: 300;
			padding: 1.25rem 15px 0.75rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 1300px;
			margin: 0 auto;
		}
	}
</style>