.banner {
  padding: 1rem;
  border: 1px solid var(--c-grey-lightest);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  &__image {
    max-width: 48px;
    width: 100%;
    color: var(--c-grey);
  }

  &__text {
    font-size: 0.9rem;
    margin-bottom: 0;
    line-height: 1.35;
    color: var(--c-grey);
    font-style: italic;
  }
}
