.relatedProductsTable {
  position: relative;
  &__tableWrap {
    max-height: 80vh;
    overflow-y: auto;
  }

  &__addBtnWrap {
    position: absolute;
    top: calc(100% - 22px);
    left: calc(50% - 16px);
  }
}
