@import "@src/styles/mixins";

.productItem {
  display: flex;
  position: relative;
  gap: 10px;

  &__title {
    color: var(--c-primary-dark);
  }

  &__img {
    flex-grow: 1;
    width: 100%;
    max-width: 95px;
    height: 95px;
  }

  &__link {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__desc {
    @include textOverflow(3);
  }
}
